.album-show-container {
  display: flex;
  flex-direction: row;
  background-color: orange;
  width: 82%;
  color: white;
  background: image-url('blue-gradient.jpg') no-repeat fixed center;
  background-size: cover;

  .album-info  {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    padding-left: 80px;
    padding-top: 40px;
    text-align: center;
    align-items: center;

    img {
      width: 240px;
      height: 240px;
    }

    h1 {
      font-family: "Circular Bold";
      font-size: 30px;
      padding: 10px 0 3px 0;
      letter-spacing: -.02em;
    }

    h2 {
      font-family: "Montserrat";
      font-size: 15px;
      color: lightgray;
      margin-bottom: 30px;
    }

    h3 {
      font-family: "Montserrat";
      font-size: 11px;
      color: lightgray;
    }

    button {
      font-family: "Circular";
      font-size: 12px;
      text-align: center;
      letter-spacing: 2px;
      background-color: #1DB954;
      border: #1DB954;
      margin: 20px 20px 0 20px;
      padding: 10px 32px 10px 32px;
      border-radius: 25px;
      color: white;
      transition: .5s;
      outline: none;
    }

    button:hover {
      background-color: #55DA5D;
      border: #55DA5D;
    }

    .img-container {
      position: relative;
      transition: .4s;
      display: flex;

      img {
        width: 200px;
        height: 200px;
        transition: .4s;
      }

      i {
        display: none;
        color: white;
        font-size: 80px;
        top: 64px;
        left: 64px;
        position: absolute;
        transition: .3s;
        z-index: 999;
      }

      i:hover {
        font-size: 85px;
        top: 62px;
        left: 62px;
      }
    }

    .img-container:hover {
      cursor: pointer;
      img {
        opacity: 0.5;
        filter: alpha(opacity=40);
      }

      i {
        display: block;
      }
    }

  }

  .album-songs {
    display: flex;
    flex-direction: column;
    width: 80%;
  }


}
