/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


 html, body, #app, #app>div {
   height: 100%
 }

@font-face {
  font-family: "Circular Bold";
  src: image-url('CircularStd-Bold.otf');
}

@font-face {
  font-family: "Circular";
  src: image-url('CircularStd-Book.otf');
}

// animation credit to https://patrickdesjardins.com/blog/css3-shining-animation-for-html-element

@-webkit-keyframes ShineAnimation{
    from {
        background-repeat:no-repeat;
        background-image:-webkit-linear-gradient(
            top left,
            rgba(255, 255, 255, 0.0) 0%,
            rgba(255, 255, 255, 0.0) 45%,
            rgba(255, 255, 255, 0.5) 48%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0.5) 52%,
            rgba(255, 255, 255, 0.0) 57%,
            rgba(255, 255, 255, 0.0) 100%
        );
        background-position:-250px -250px;
        background-size: 600px 600px
    }
    to {
        background-repeat:no-repeat;
        background-position:250px 250px;
    }
}

@keyframes blink {
   50% { border-color: #ffffff; }
}



@import 'reset.scss';
@import 'session_page.scss';
@import 'splash.scss';
@import 'side_bar.scss';
@import 'browse.scss';
@import 'browse_nav.scss';
@import 'library_nav.scss';
@import 'album_index.scss';
@import 'main.scss';
@import 'artist_index.scss';
@import 'song_index.scss';
@import 'song_index_item.scss';
@import 'album_show.scss';
@import 'artist_show.scss';
@import 'playlist_index.scss';
@import 'playlist_show.scss';
@import 'new_playlist_form.scss';
@import 'search.scss';
@import 'user_show.scss';
@import 'user_modal.scss';
