.artist-show-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 83%;
  background-color: black;
  position: relative;

  .header-container {
    position: relative;
    height: 400px;

    img {
      clip: rect(0px,1100px,400px,0);
      position: absolute;
      top: 0;
    }

    .header-image {
      height: 400px;
    }

    .header-image::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(transparent -30%, black);
    }

    .header-text {
      position: absolute;
      top: 0;
      left: 0;
      right: 10px;
      height: 400px;
      text-align: center;
    }

    h1 {
      color: white;
      font-family: "Circular Bold";
      font-size: 80px;
      margin-top: 80px;
    }

    h3 {
      color: lightgray;
      font-family: "Montserrat";
      font-size: 15px;
    }

    button {
      font-family: "Circular";
      font-size: 12px;
      text-align: center;
      letter-spacing: 2px;
      background-color: #1DB954;
      border: #1DB954;
      height: 32px;
      width: 130px;
      margin: 10px 10px 0 10px;
      border-radius: 25px;
      color: white;
      transition: .5s;
      outline: none;
      text-align: center;
    }



  }


  .content-container {
    display: flex;
    flex-direction: column;
    color: white;

    h3 {
      font-family: "Circular Bold";
      font-size: 40px;
      text-align: center;
    }

    .album-index {
      justify-content: space-around;
      margin-top: 30px;
      padding-top: 0;
    }

    button:hover {
      background-color: #55DA5D;
      border: #55DA5D;
    }

    .img-link:hover {
      text-decoration: none;
    }

    i:hover {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

  }

}
