
.browse-container {
  background: image-url('browsegradient');
  width: 83%;
  background-color: black;
  display: inline-block;
  position: absolute;
  top: 0;
  height: 620px;
  font-family: "Circular Bold";
  color: white;
  text-align: center;
}
