
.browse-container, .library-container {
  background: image-url('browsegradient');
  width: 83%;
  background-color: black;
  display: flex;
  flex-direction: column;
  top: 0;
  overflow-y: scroll;
  height: 100%;
}

// .library-container {
//   background: image-url('netflix');
//   background-size: cover;
//   width: 83%;
//   background-color: black;
//   display: flex;
//   flex-direction: column;
//   top: 0;
//   overflow-y: scroll;
//   height: 100%;
// }
