.song-index-item {
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 15px;
  padding-top: 17px;
  padding-bottom: 2px;
  transition: .3s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;


      .song-btns {
        margin-right: 20px;
        position: relative;

        .pl-btn {
          position: absolute;
          right: 50px;
          color: lightgray;
        }

        .rm-pl-btn {
          position: absolute;
          right: 90px;
          color: lightgray;
          font-size: 14px;
        }

        .save-btn {
          color: white;
          font-family: "Circular";
          font-size: 12px;
          color: lightgray;
        }

        .save-btn:hover {
          color: white;
        }

        .unsave-btn {
          color: #1DB954;
          font-family: "Circular";
          font-size: 13px;
        }

        .unsave-btn:hover {
          color: #55DA5D;
        }
      }

    .play-btn-container {
      position: relative;
      height: 20px;
      margin-bottom: 16px;
      .fa-play {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }

      .fa-music {
        position: absolute;
        top: 0;
        left: 0;
      }
      .fa-volume-up {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .song-index-text {
      display: flex;
      flex-direction: column;
      margin-left: 30px;

      h2 {
        font-family: "Poppins";
        font-size: 16px;
      }
    }

    .song-links {
      display: flex;
      font-size: 12px;
      font-family: "Montserrat";
      color: lightgray;

      .song-link-item {
        font-size: 12px;
      }

      .song-link-item:hover {
        text-decoration: underline;
      }
    }


    .song-index-main-info {
      display: flex;
      align-items: center;
    }

}

.song-index-item:hover  {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  cursor: pointer;

  .fa-play {
    transition: .1s;
    opacity: 1;
  }

  .fa-play:hover {
    color: #1DB954;
  }

  .fa-music {
    display: none;
  }

}

.active-song {
  color: #1DB954 !important;
}
