
.splash {
  background: image-url('splash-bg.jpg') no-repeat fixed center;
  background-size: cover;
  background-attachment: fixed;
}

.splash-nav {
  font-family: "Circular Bold";
  background: rgba(0, 0, 0, 0.5);
  height: 80px;
}

.shine-me {
    -webkit-animation-name: ShineAnimation;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.62,.79,.88,.47);
}

.splash-logo {

  img {
    position: absolute;
    top: 24px;
    left: 45px;
    height: 35px;
    width: 35px;
  }

  p {
    position: absolute;
    font-size: 25px;
    top: 25px;
    left: 88px;
    color: white;
    letter-spacing: -0.04em;
  }
}

.splash-btn {
  display: block;
  z-index: 1;
}

.splash-btn:hover + .spook-1 {
  display:block;
}

.spook-1 {
  height: 35px;
  width: 40px;
  transition: 1s;
  position: absolute;
  top: 387px;
  display:none;
}

.splash-nav-links {
  position: absolute;
  right: 50px;
  top: 28px;

  a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 15px;
    transition: .5s;
  }

  a:hover {
    color: orange;
  }


}

.other-icons-nav {
  position: absolute;
  right: 240px;
  top: 24px;
  display: flex;
  flex-direction: row;
  border-right: 1px solid white;

  i {
    color: white;
    transition: .5s;
    font-size: 30px;
    padding-left: 10px;
  }

  i:hover {
    color: orange;
  }

  a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    transition: .5s;
    padding-right: 40px;
  }
}

.splash-img {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 160px;
    font-family: "Circular Bold";
    font-size: 80px;
    text-align: center;
    color: white;
    letter-spacing: -0.04em;
    font-weight: 900;
  }

  h3 {
    font-family: "Circular";
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 400;
  }

  a {
    font-family: "Circular Bold";
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    background-color: #1DB954;
    border: #1DB954;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
    transition: .5s;
    outline: none;
    margin-top: 20px;
  }

  a:hover {
    background-color: #55DA5D;
    border: #55DA5D;
  }
}

.splash-bottom {
  font-family: "Circular Bold";
  background-color: black;
  height: 200px;
  width: 100%;
  position: absolute;
  top: 700px;
  color: white;

  .spook {
    width: 90px;
    height: 80px;
    position: absolute;
    bottom: 0px;
    right: 39px;
  }

  p:last-of-type {
    font-family: "Circular";
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    right: 120px;
  }
}

.bottom-logo {
  position: absolute;
  top: 31px;
  left: 40px;
  height: 25px;
  width: 25px;
}

.bottom-words {
  position: absolute;
  top: 32px;
  left: 74px;
  font-size: 18px;
  color: white;
  letter-spacing: -0.04em;
}

.bottom-lists {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 200px;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: orange;
  }

  div {
    padding-top: 20px;
    padding-right: 30px;
  }

  h3 {
    font-size: 13px;
    text-transform: uppercase;
    color: grey;
  }

  h4 {
    font-size: 15px;
  }
}
